@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}

body {
    font-family: 'Sedgwick Ave Display', cursive;
    color: #000000;
    letter-spacing: 2px;
}

#logo {
    font-size: 300%;
    text-align: center;
}

#menu li {
    list-style-type: none;
    float: left;
    padding-left: 15%;
    padding-right: 15%;
}

#menu a {
    text-decoration: none;
}